= simple_form_for @team, :html => { :class => 'form-horizontal' } do |f|
  = f.input :category_id, collection: Category.all
  = f.input :name
  = f.input :foundation_date
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), teams_path, :class => 'btn'
